<aside class="fr">
  <% @plans.each do |plan| %>
    <%= link_to "#{plan.jahr}", plan %><br>
  <% end %>
</aside>

<br>
<% if @plan %>
  <h2>Plan für <%= @plan.jahr %></h2>

<hr>
<br>
  <%= render "plan" %>
<% end %>
