<h1>New plan</h1>
<ol>
  <li>Art auswählen (z.B. wöchentliches Pikett, Tennistraining)</li>
  <li>Details einstellen (Start, wieviele Plätze, Doppel- oder Einzel-Präferenz)</li>
  <li>Teilnehmer und deren Blockdaten hinzufügen</li>
  <li>Plan zur Abnahme erzeugen</li>
  <li>Blockdaten anpassen</li>
  <li>Plan abschliessen</li>
</ol>

<%= render 'form' %>

<%= link_to 'Back', plans_path %>
